* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.container {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #0699ee, #b281e6);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease, max-width 0.5s ease;
    position: relative; 
}

.container.expanded {
    max-width: 800px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 16px;
    flex: 1;
    margin-right: 14px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: #56b7ef89;
}

.search button img {
    width: 16px;
    display: block;
}

.weather {
    display: none;
}

.weather-summary {
    display: flex;
    text-align: center;
    align-items: center;
    left: calc(50% - 40px);
    margin-top: 20px;
    margin-bottom: 20px;
}

.weather-icon {
    width: 170px;
    margin-right: 20px;
}

.weather-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.weather h1 {
    font-size: 50px;
    font-weight: 500;
}

.weather h2 {
    font-size: 35px;
    font-weight: 400;
}

.weather-details {
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 100px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left; 
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather button {
    display: flex;
    margin-left: 75px;
    margin-top: 40px;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 5px;
    width: 250px;
    height: 60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.weather button:hover {
    background-color: #56b7ef89;
}

.hidden {
    margin-left: 20px;
    flex-direction: column;
    transform: translateX(100%); 
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: absolute;
    right: 0;
    top: 185px;
    width: 50%;
    height: 180px;
}

.hidden.show {
    display: flex;
    transform: translateY(0);
    opacity: 1;
}

.forecast-day {
    margin-top: 10px;
    color: white;
}

.forecast-day .date {
    font-weight: bold;
}